LUNABOX_BANGUMI_CLIENT_ID=plz-change-this
LUNABOX_BANGUMI_CLIENT_SECRET=plz-change-this
LUNABOX_TOUCHGAL_TOKEN=plz-change-this
LUNABOX_UMBRA_CLIENT_ID=plz-change-this
LUNABOX_UMBRA_REGISTRATION_TOKEN=plz-change-this
LUNABOX_HIKARINAGI_CLIENT_ID=plz-change-this
