build/bin
/bin/
/.task/
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
build/windows/payload/
build/windows/webview2bootstrapper/
build/darwin/icons.icns
node_modules
frontend/dist
.idea
.DS_Store
frontend/package.json.md5
*.db
go.sum
appconf.json
.vscode
*.db.wal
SaveData
docs-local
app.log
.claude
lunabox-docs
.github/skills
.github/prompts
.codex
.agent
.agents
.env
.env.build
openspec
.windsurf/
/bin
/.task
/build/windows/nsis
/build/windows/payload
/build/windows/webview2bootstrapper
参考项目