:root {
  --scrollbar-thumb: #ccc;
  --scrollbar-track: transparent;
  --scrollbar-thumb-hover: #aaa;
  --toast-bg: #fff;
  --toast-color: #374151;
}

html,
body {
  user-select: none;
  -webkit-user-select: none;
}

input,
textarea,
[contenteditable="true"] {
  user-select: text;
  -webkit-user-select: text;
}

.dark {
  --scrollbar-thumb: #4b5563;
  --scrollbar-track: transparent;
  --scrollbar-thumb-hover: #6b7280;
  --toast-bg: #1f2937;
  --toast-color: #f3f4f6;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}
